@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

a {
	text-decoration: none;
}

nav {
  position: fixed;
  background: white;
  top: 0px;
  width: 100%;
  height: 45px;
  border-radius: 0px 0px 12px 12px;
  z-index: 3;
}

nav li {
  display: inline;
  position: relative;
  left: 1150px;
  top: -3.5px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  float: left;
  height: 45px;
  width: 7em;
  text-align: center;
}

nav ul {
	position: absolute;
	top: -15px;
	padding:0px;
}

nav ul ul {
    position: absolute;
	left: -1150px;
	top: 51px;
	border: 0px;
	display: none;
	width: 7em;

}

nav ul.level1 li.submenu:hover ul.level2 {
  display: block;
}

ul.level2 li {
	background: white;
}

nav ul ul li a {
  border-left: 0px;
}

nav li a {
  display: block;
  color: #2E1A18;
  text-decoration: none;
  border-left: 2px solid lightgray;
  padding: 15px 15px 11px 15px;
}

.destra {
	border-right: 2px solid lightgray;
}
	
nav li a:hover {
  color: #A39171;
  background-color: whitesmoke;
}

section {
  background: #CCB6A1;
  float: left;
  width: 25%;
  height: 100%;
}

section#movies {
  height: 2700px;
}

section p {
  position: fixed;
  top: 350px;
  left: 70px;
  font-family: Lora, serif;
  font-size: 30pt;
  font-style: italic;
  color: whitesmoke;
  border: 1.5px solid whitesmoke;
  border-radius: 50px;
  padding: 25px;
}

section p:hover {
	color: #2E1A18;
	border: 1px solid #2E1A18;
    border-radius: 50px;
    padding: 25px;
}

section p.movies:hover {
	color: #2E1A18;
	border: 1px solid #2E1A18;
    border-radius: 50px;
    padding: 25px;
}

section p.movies {
	position: fixed;
    top: 350px;
    left: 75px;
    font-family: Lora, serif;
    font-size: 30pt;
    font-style: italic;
    color: whitesmoke;
    border: 1.5px solid whitesmoke;
    border-radius: 50px;
    padding: 25px;
}

section p.cucina {
	position: fixed;
    top: 350px;
    left: 85px;
    font-family: Lora, serif;
    font-size: 30pt;
    font-style: italic;
    color: whitesmoke;
    border: 1.5px solid whitesmoke;
    border-radius: 50px;
    padding: 25px;
}

section p.cucina:hover {
	color: #2E1A18;
	border: 1px solid #2E1A18;
    border-radius: 50px;
    padding: 25px;
}

main {
  float: left;
  height: 100%;
  width: 75%;
  background: #f2edeb;
}

main#movies {
  height: 2700px;
}

testo {
  float: left;
  padding-left: 80px;
  padding-top: 100px;
}

h1 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 50pt;
	font-weight: 500;
	color: #2E1A18;
}

h2 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 25pt;
	font-weight: 500;
	color: #2E1A18;
}

h2.titolofilm, h2.titolofilm2, h2.titolofilm3,
h2.titolofilm4, h2.titolofilm5 {
	font-weight: 600;
}

h2.titolofilm {
	margin-bottom: -12px;
}

p.trama {
	font-size: 11pt;
	opacity: 1;
}

h3 {
	color: #A39171;
	margin-bottom: -15px;
}

dettagli p{
	opacity: 0.6;
	font-size: 9pt;
}

.arco {
	border: 1.5px solid #2E1A18;
	position: relative;
	top: 173pt;
	left: 200px;
	opacity: 1;
	float: left;
	border-radius: 150px 150px 0px 0px;
}

.arco2 {
	border: 1.5px solid #2E1A18;
	border-radius: 150px 150px 0px 0px;
	position: relative;
	top: 120px;
	left: 350px;
}

.didascalia4 {	
    font-size: 25pt;
	font-weight: 600;
	font-family: Lora, serif;
	font-style: italic;
	position: relative;
	top: 400px;
	right: 30px;
	visibility: hidden;
}

.didascalia5 {	
    font-size: 25pt;
	font-family: Lora, serif;
	font-style: italic;
	font-weight: 600;
	position: relative;
	bottom: 80px;
	right: 325px;
	float:right;
	visibility: hidden;
}

p.didascalia4 a {
	display: block;
	color: whitesmoke;
}

p.didascalia5 a {
	display: block;
	color: whitesmoke;
}

cinema:hover .didascalia4 {
	visibility: visible;
}

cucina:hover .didascalia5 {
	visibility: visible;
}

.arcobw {
	border: 1.5px solid #2E1A18;
	border-radius: 150px 150px 0px 0px;
	position: relative;
	top: 120px;
	left: 350px;
	display: none;
}
	
.arcobw2 {
	border: 1.5px solid #2E1A18;
	position: relative;
	top: 173pt;
	left: 200px;
	opacity: 1;
	float: left;
	border-radius: 150px 150px 0px 0px;
	display: none;
}
	
cinema:hover .arco {
	display: none;
}

cinema:hover .arcobw2 {
	display: block;
	opacity: 0.8;
}
	
cucina:hover .arco2 {
	display:none;
}

cucina:hover .arcobw {
	display: block;
	opacity: 0.8;
}

testo img {
	border-radius: 100px;
	border: 1.5px solid #A39171;
}

testo img.poster {
	position: relative;
	float:right;
	z-index: 2;
	border-radius: 70px;
	border: 0px;
}

testo h3,h1,h2,p,dettagli {
	padding-left: 30px;
}

dettagli a {
	color: #A39171;
	font-size: 12pt;
	padding: 5px 10px 5px 10px;
	border-radius: 100px;
	border: 1.5px solid #A39171;
	text-decoration: none;
	position: relative;
	left: 100px;
}

dettagli a:hover {
	color: whitesmoke;
	background: #A39171;
}

film1 {
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: 1;
	background: whitesmoke;
	height: 333px;
	width: 971.6px;
}

h2.titolofilm2, dettagli2 {
	position: relative;
	top: 160px;
}

film2 {
	position: absolute;
    top: 450px;
	left: 0px;
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: -1;
	background: whitesmoke;
	height: 333px;
	width: 971.6px;
}

film3 {
	position: absolute;
	top: 333px;
	left: -10px;
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: -1;
	background: whitesmoke;
	height: 333px;
	width: 971.6px;
}

h2.titolofilm3, dettagli3 {
	position: relative;
	top: 160px;
	margin-bottom: 2px;
}

film4 {
	position: absolute;
	top: 360px;
	left: -10px;
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: -1;
	background: whitesmoke;
	height: 333px;
	width: 971.6px;
}

h2.titolofilm4, dettagli4 {
	position: relative;
}

film5 {
	position: absolute;
    top: 350px;
	left: -10px;
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: -1;
	background: whitesmoke;
	height: 333px;
	width: 971.6px;
}

h2.titolofilm5, dettagli5 {
	position: relative;
	top: 160px;
}

ricetta1 {
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	z-index: 1;
	background: whitesmoke;
	height: 600px;
	width: 971.6px;
}

p.titingre {
	margin-bottom: -10px;
	font-size: 10pt;
	margin-right: 50px;
}

p.impasto, p.decorare, p.decorare2, p.decorare3 {
	font-size: 9pt;
}

ingredienti1 {
	margin-right:50px;
}

p.impasto {
	width: 250px;
	margin: 0px;
}

p.decorare {
	float: right;
	position: relative;
	top: -160px;
	right: 120px;
	padding: 0px;
	margin: 0px;
}


p.preparazione {
	margin-top: -20px;
	width: 450px;
	font-size: 10pt;
}

ricetta2 {
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	top: 1100px;
	z-index: 1;
	background: whitesmoke;
	height: 600px;
	width: 971.6px;
}

p.preparazione2 {
	margin-top: 20px;
	width: 450px;
	font-size: 10pt;
}

p.decorare2 {
	float: right;
	position: relative;
	top: -135px;
	right: 120px;
	padding: 0px;
	margin: 0px;
}

ricetta3 {
	border-radius: 80px;
	padding: 15px;
	position: absolute;
	top: 1830px;
	z-index: 1;
	background: whitesmoke;
	height: 600px;
	width: 971.6px;
}

p.decorare3 {
	float: right;
	position: relative;
	top: -160px;
	right: 120px;
	padding: 0px;
	margin: 0px;
}

.uno {
	display: block;
}

.due {
	display: none;
}

icona:hover .uno {
	display: none;
}

icona:hover .due {
	display: block;
	border: 1.5px solid #2E1A18;
}

arrow {
	float: right;
	position: fixed;
	top: 400px;
	right: 50px;
}

.freccia {
	display: block;
}

.freccia2 {
	display: none;
}

arrow:hover .freccia {
	display: none;
}

arrow:hover .freccia2 {
	display: block;
}

footer {
  clear: both;
  background-color: whitesmoke;
  height: 35px;
}

footer li {
  display: inline;
  position: relative;
  left: -20px;
  top: 9px;
  float: left;
}

footer li a {
  padding-right: 25px;
}

linea {
  border-left: 1.5px solid whitesmoke;
  height: 300px;
  position: fixed;
  left: 175px;
  top: 20px;
}

linea2 {
  border-left: 1.5px solid whitesmoke;
  height: 300px;
  position: fixed;
  left: 175px;
  top: 550px;
}
