
body {
    background-color:black;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.folders0 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.folders, .folders1, .folders2, .loading, .folders3 {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin: 20px;
    background-color:white;
    border: rgb(177, 177, 177) 3px solid;
    height: 70%;
    box-shadow:inset 2px 2px 2px rgb(37, 37, 37), -1px 0px 0px rgb(255, 255, 255), inset -1px -1px 0px rgb(148, 148, 148);
}

.folders1 {
    width: 90%;
    height: fit-content;
}
  
.loading {
    width: 216px;
    background-color: rgb(177, 177, 177);
    height: fit-content;
    align-self: flex-end;
}

.loader {
    background-color: rgb(238, 238, 238);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-loader {
    background-color: #001280;
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 25px;
    margin: 1px;
    animation-duration: 0.1s;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
}

.delay-1 {
    animation-delay: 0.6s;
    }
    .delay-2 {
    animation-delay: 0.7s;
    }
    .delay-3 {
    animation-delay: 0.8s;
    }
    .delay-4 {
    animation-delay: 1.2s;
    }
    .delay-5 {
    animation-delay: 1.5s;
    }
    .delay-6 {
    animation-delay: 1.7s;
    }
    .delay-7 {
    animation-delay: 1.8s;
    }
    .delay-8 {
    animation-delay: 2s;
    }
    .delay-9 {
    animation-delay: 2.3s;
    }
    .delay-10 {
    animation-delay: 2.5s;
    }

.animate.fade {
    animation-name: animate-fade;
    animation-timing-function: ease;
  }
  @keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d5d5d5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 1px 1px 1px white, 1px 1px 0px rgb(56, 56, 56);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

.folder-bar img {
    height: 17px;
}

.folder-bar {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.bar-left {
    display: flex;
}

.bar {
    background-color: #001280;
    border-bottom:rgb(177, 177, 177) 3px solid;
    display: flex;
    width: 100%;
    height: fit-content;
    flex: none;
    justify-content: space-between;
    color: white;
    box-shadow:-1px -1px 0px rgb(205, 205, 205);
    z-index: 1;
}

.bar p {
    padding: 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 9pt;
    padding-left: 10px;
    margin: auto 0px;
}

.items1, .items2, .items3 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-bottom: 20px;
    
}

.items3 {
    max-height: 400px;
}

.items3 p {
    margin: 15px;
}

.items3 .titolo {
    width: 100%;
    margin-bottom: 0px;
}


.abstract-pdf {
    overflow: auto;
    white-space: nowrap;
}

.abstract-pdf img {
    display: inline-block;
}

.element1 {
    text-align: center;
    margin: 10px;
    height: fit-content;
}

.element1:hover {
    background-color: rgb(235, 235, 235);
    border: #aeaeae;
}

.element1 a {
    color: black;
    text-decoration: none;
}

.copyright {
    width: 100%;
    font-size: 8pt;
    text-align: center;
    height: fit-content;
    display: flex;
    align-self: end;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
}

.abstract-bar {
    height: 20px;
    font-size: 9pt;
    background-color: rgb(177, 177, 177);
    width: 100%;
    border-bottom:rgb(177, 177, 177) 3px solid;
    box-shadow: 0px 2px 2px rgb(37, 37, 37);
    z-index: 1;
}

.abstract-bar b {
    display: flex;
}

.abstract-bar p {
    margin: 0px 5px;
}

.abstract {
    padding: 20px;
}

.folders2, .folders3 {
    width: 80%;
    height: fit-content;
    overflow: hidden;
}

.folders3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.admin {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.admin p {
    margin: 8px 20px;
}

video::-webkit-media-controls {
    display: none;
  }

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .items1 img {
    margin-bottom: -20px;
  }

  .video_prova {
    width: 100%;
    height: fit-content;
  }

@media screen and (min-width: 750px) {
    .folders, .folders1, .folders2, .folders3, .arrows {
        width: 40%;
        height: fit-content;
    }

    body {
        font-size: 8pt;
    }

    .bar p {
        font-size: 8pt;
    }
}