
body {
    background-color:rgb(232, 232, 232);
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.folders, .folders1 {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin: 20px;
    background-color:white;
    border: rgb(177, 177, 177) 3px solid;
    width:90%;
    height: 70%;
    box-shadow: 2px 2px 2px rgb(37,37,37), inset 2px 2px 2px rgb(37, 37, 37), -2px -2px 0px rgb(240, 240, 240);
}

.folders1 {
    width: 90%;
    height: fit-content;
}
  
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
    box-shadow: 1px 1px 0px rgb(37, 37, 37);
    border: gray solid 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d5d5d5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 1px 1px 0px white, 1px 1px 0px rgb(38, 38, 38);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.folder-bar img {
    height: 17px;
}

.folder-bar {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.bar-left {
    display: flex;
}

.bar {
    background-color: #001280;
    border-bottom:rgb(195, 195, 195) 3px solid;
    display: flex;
    width: 100%;
    height: fit-content;
    flex: none;
    justify-content: space-between;
    color: white;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
    z-index: 1;
}

.bar p {
    padding: 0px;
    font-family: "Roboto Mono", monospace;
    font-size: 9pt;
    padding-left: 10px;
    margin: auto 0px;
}

.items1, .items2 {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-bottom: 20px;
}

.element1 {
    text-align: center;
    margin: 10px;
    height: fit-content;
}

.element1:hover {
    background-color: rgb(235, 235, 235);
    border: #aeaeae;
}

.element1 a {
    color: black;
    text-decoration: none;
}

.copyright {
    width: 100%;
    font-size: 8pt;
    text-align: center;
    height: fit-content;
    display: flex;
    align-self: end;
    margin-bottom: 20px;
    justify-content: center;
}

.abstract {
    padding: 20px;
}

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

@media screen and (min-width: 700px) {
    .folders, .folders1 {
        width: 60%;
        height: fit-content;
    }

    body {
        font-size: 8pt;
    }

    .bar p {
        font-size: 8pt;
    }
}

@media screen and (min-width: 1440px) {
    .folders, .folders1 {
        width: 45%;
    }

}